:root{
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Staatliches', cursive;
}

body{
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--secondary-font);
}

.card{
  width: 250px;
  height: fit-content;
  margin-bottom: 1rem;
}

ul.list-group {
  min-height: 130px;
}

.icon-img{
  height: 1rem;
  width: auto;
  margin-right: .5rem;
  margin-bottom: 0.3rem;
}

.icon-check{
  height: 2rem;
  width: auto;
  margin: 0 .75rem .5rem 0;
}

.icon-check-big{
  height: 12rem;
  width: 75%;
  margin: 0 auto;
}

#trash img{
  height: 4rem;
  width: auto;
  margin-bottom: 1.0rem;
}

.dropover{
  background-color: rgba(0,0,0,0.3);
}

.dropover-active{
  background-color: rgba(0,0,0,0.9);
}

.bottom-trash{
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: var(--secondary-font);
  transform: translateY(150px);
  transition: all .5s ease-in-out;
  background-color: rgba(234,0,39,0.7);
}

.bottom-trash-drag{
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active{
  background-color: rgba(234,0,39,1);
}

.btn-add, .btn-save{
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-close, .btn-delete{
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

:where(.btn-add, .btn-save, .btn-close, .btn-delete):hover{
  background-position: 1px -50px;
}